{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
    <script src="{% static 'js/login.js'  %}"></script>
	<title>confirmation</title>
</head> 
<body style="background-image:url({% static 'images/news.jpg'%})">
<div id="total">
<div class="container">
<div class="login">Enter the OTP you have recieved</div>
<div class="form">
<div class="inf">
<input id="otpnum" type="number" min=0 max=6 required>
<label for="otp">OTP:</label>
</div>
<form action="confirmation">
{% csrf_token %}
<button onclick="return confirmation({{otp}})" class="sub">Submit</button>
</form>
</div>
</div>
</div>
</body>
</html>