body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    }
#icon {
    position:absolute;
    right:5px;
    top:8px;
    cursor: pointer;
    color:orangered;

}
.messages{
    text-transform: capitalize;
    text-align: center;
    margin:10px auto;
    border:solid 1px black;
    background-color: red;
    color:white;
    display:float;
    padding:4px 10px;
    font-size:17px;
    font-weight: bold;
}
.container .form{
    padding:40px 30px 10px 30px;
    position: relative;
}
.login{
    color:orangered;
    font-weight: bold;
    text-align: center;
    font-size:1.5rem;
    padding-top:20px;
}
.container{
        min-height: 240px;
        max-width:400px;
        margin:-370px auto;
        padding-bottom:10px;
        max-height:500px;
        opacity:0;
        background-color:rgba(0, 0, 0, 0.7);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
        animation:container 0.7s linear;
        animation-fill-mode:forwards;
}
@keyframes container{
    50%{
        opacity: 0.2;
    }
    to{
        margin-top:130px;
        opacity: 1;
    }
}
.form .inf{
    position:relative;
}
.form .inf label{
    position:absolute;
    top:-3px;
    left:0;
    color:white;
    font-weight:100;
    letter-spacing:0.3px;
    font-size:1.2rem;
    transition:0.3s ease-out;
    pointer-events:none;
    opacity:0.7;
}
.form .inf input{
    width:90%;
    border:none;
    outline:none;
    padding:10px 0px 0px 30px;
    color:white;
    margin-bottom:30px;
    border-bottom:1px solid red;
    font-size:1.1rem;
    letter-spacing:0.9px;
    text-align: justify;
    background-color: transparent;
}
.container2{
        min-height: 240px;
        max-width:400px;
        margin:130px auto;
        padding-bottom:10px;
        max-height:500px;
        background-color:rgba(0, 0, 0, 0.7);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}
#total{
    display:none;
}
#loading{
    position:absolute;
    z-index:1;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    }
#loading span{
    margin:3px;
    width:40px;
    height: 40px;
    background:red;
    border-radius:50%;
    display:inline-block;
}
#loading .s2{
    animation:animate2 1s  infinite;
}
#loading .s3{
    animation:animate3 1s  infinite;
    background:green;
}
#loading .s4{
    background:blue;
    animation:animate4 1s infinite;
}
@keyframes animate4{
    25%{
            transform:scale(1);
    }
    50%{
            transform: scale(1);
    }
    75%{
            transform: scale(1);
    }
    100%{
            transform: scale(1.2);
    }
}
@keyframes animate2 {
    25%{
            transform:scale(1.2);
    }50%{
            transform: scale(1);
    }
    75%{
            transform: scale(1);
    }100%{
            transform: scale(1);
    }
}
@keyframes animate3 {
    25%{
            transform:scale(1);
    }50%{
            transform: scale(1.2);
    }
    75%{
            transform: scale(1);
    }100%{
            transform: scale(1);
    }
}
.container::before{
    content:'';
    top:0;
    left:0;
    width:50%;
    height:100%;
    background-color:rgb(255, 255, 255,0.06);
    pointer-events:none;
    
}
.container .form .inf input:focus + label{
    transform: translateY(-12px);
    font-size:1rem;
    color:orangered;
}
.container .form .inf input:valid+label{transform: translateY(-12px);
    font-size:1rem;
    color:orangered;

}
#password{
    z-index:1;
    position:absolute;
    top:0;
    display:flex;
    right:0;
    opacity:0;
    z-index:1;
    background-image: url('/static/images/weather7.jpg');
    left:0;
    height:0;
    transition:0.6s;
    justify-content: center;
    align-items: center;
}
#password:target{
    height:100%;
    opacity:1;
}
.close{
    margin-left:370px;
    font-size:30px;
    font-weight:900;
    color:orangered;
    text-decoration: none;
}
.submit{
    margin:20px 100px;
}
.heading{
    background-color:lightblue;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    font-size:30px;
}
.sub{
    float:right;
    margin-right: 30px;
    margin-bottom:20px;
    border:none;
    outline:none;
    color:white;
    background-color:orangered;
    padding:6px 8px;
    font-weight:500;
    letter-spacing:0.5px;
    right:40px;
    cursor:pointer;
}
.resetpass-btn{
    color:white;
    margin-left:30px;
    text-decoration: none;
    font-size:1.3rem;
}
.noaccount{
    color:white;
    margin-left:80px;
    font-size:1.3rem;
    margin-left:30px;
    padding:30px;
}
.noaccount a{
    color:pink;
    font-weight: 900;
    text-decoration:none;
    font-size:1.3rem;
}
.register{
    margin:10px 130px;
}
.register a{
    color:blue;
    text-decoration: none;
}

#airplane{
    position:absolute;
    top:40%;
    left:42%;
    z-index:1;
    animation:fly 4s linear infinite;
    transition:4s all ease;
}
@keyframes fly {
25%{
    top:38%;
}
50%{
    top:40%;
}
75%{
    top:43%;
}
100%{
    top:40%;
}
}
#cloud1{
    position:absolute;
    top:10%;
    left:90%;
    z-index:-1;
    animation:clouds1 2s linear infinite;
}
@keyframes clouds1{
    25%{top:10%;
            left:50%;
    }
    50%{
            top:10%;
            left:0%;
    }
    50.2%{
            top:87%;
            left:90%;
    }
    100%{
            top:87%;
            left:0%;
    }
}
#cloud2{
    position:absolute;
    top:45%;
    left:90%;
    z-index:-1;
    animation:clouds2 2s linear infinite;
    animation-delay:0.5s;
    width:0;
}
@keyframes clouds2{
    0%{width:100px;
            top:52%;
            left:90%;
    }
    2%{
            width:100px;
            top:52%;
            left:90%;
    }
    50%{
            width:100px;
            top:52%;
            left:0%;
    }
    50.1%{
            width:100px;
            top:27%;
            left:90%;
    }
    100%{
            width:100px;
            top:27%;
            left:0%;
    }

}
